<div class="flex justify-between items-center mb-6 px-2 h-[100px] border-b bg-slate-500">
    <h1 class="text-2xl font-bold">Aether Canvas</h1>

    <div class="flex gap-3">
        <button
            (click)="addNewKpi()"
            class="bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded-lg text-sm font-medium transition cursor-pointer border hover:border-none"
        >
            + Add Widget
        </button>
        <button
            (click)="store.toggleEditMode()"
            [class]="store.isEditMode()
                ? 'bg-amber-600 hover:bg-amber-700 text-white' 
                : 'bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 dark:text-gray-200'"
            class="px-4 py-2 rounded-lg text-sm font-medium transition cursor-pointer"
        >
            {{ store.isEditMode() ? 'Done Editing' : 'Edit Dashboard' }}
        </button>
    </div>
</div>

<div 
    #gridContainer
    class="grid grid-cols-12 gap-4 relative rounded-xl transition-all auto-rows-[80px]"
    [class.lego-grid-board]="store.isEditMode()"
    [class.border]="store.isEditMode()"
    [class.border-dashed]="store.isEditMode()"
    [class.border-gray-300]="store.isEditMode()"
>
  @for (widget of store.widgets(); track widget.id) {
    <div 
        cdkDrag
        [cdkDragDisabled]="!store.isEditMode()"
        (cdkDragEnded)="onDragEnded($event, widget)"
        class="bg-white dark:bg-gray-800 rounded-lg shadow p-4 flex flex-col justify-between relative border transition z-10"
        [class.cursor-move]="store.isEditMode()"
        [class.border-amber-500]="store.isEditMode()"
        [style.grid-column-start]="widget.position.x + 1"
        [style.grid-column-end]="'span ' + widget.position.cols"
        [style.grid-row-start]="widget.position.y + 1"
        [style.grid-row-end]="'span ' + widget.position.rows"
    >
        @if ( store.isEditMode() ) {
            <div class="flex justify-between items-center mb-2 handle text-xs text-gray-400 font-medium">
                <span>:: Drag to move</span>
                <button 
                    (click)="store.removeWidget(widget.id)" 
                    class="text-gray-400 hover:text-red-500 text-sm font-semibold cursor-pointer" 
                >
                    ✕
                </button>
            </div>
        }

        <div class="flex-grow">
            <ng-container WidgetHost [widgetConfig]="widget"></ng-container>
        </div>
    </div>
  }
</div>
