<div class="px-4">
  <div class="flex justify-between text-xl h-auto">
    <div class="flex flex-col">
      <span>Widget Configuration -</span>
      <span>{{ store.activeWidgetEditing()?.settings['title'] }}</span>
    </div>
    <button (click)="closeSettings.emit()" class="!rounded-xl dark:!text-white !h-auto cursor-pointer">
      <mat-icon class="large-icon">close</mat-icon>
    </button>
  </div>
</div>
<mat-divider class="!my-4"></mat-divider>
<div class="px-4">
  <div class="flex flex-col gap-6">
    @if (store.activeWidgetEditing()) {
      @switch (store.activeWidgetEditing()?.type) {
        @case ('KPI_METRIC') {
          <app-kpi-settings-form (closeSettings)="closeSettings.emit()"></app-kpi-settings-form>
        }
  
        @case ('CHART_TIME_SERIES') {
          <app-chart-settings-form (closeSettings)="closeSettings.emit()"></app-chart-settings-form>
        }
  
        @case ('TABLE_DATA') {
          <app-table-settings-form (closeSettings)="closeSettings.emit()"></app-table-settings-form>
        }
      }
    }
  
  </div>
</div>
